.header-right {
  text-align: center;
  font-family: 'Bricolage Grotesque', sans-serif;
  font-weight: 300;
  padding: 0em 0em;
  margin-top: -0.5em;
}
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@300&display=swap');
body {
  margin: 0;
  font-family: 'Bricolage Grotesque', sans-serif;
  background-color: #18191a;
  background-size: cover;
  background-position: center;
  color: rgb(220, 220, 220);
}

header {
  background-color: #003087;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 3em 6em;
  flex-wrap: wrap;
}
.new-bold {
  font-size: 4em;
  font-weight: bold;
  line-height: 1.1;
}
.header-left h1 {
  margin: 0;
}
.header-left .seaton {
  display: block;
  text-indent: 4em;
}

nav {
  background-color: #042b6b;
  display: flex;
  justify-content: flex;
  font-family: 'Bricolage Grotesque', sans-serif;
  position: absolute; 
  top: 200px;
  left: 30%;
  width: 70%;
  z-index: 10; 
  padding: 3rem 4rem;
}


nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  margin: 0;
  padding: 0;
  
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 2em;
  letter-spacing: 0.04em;
  padding: 0.2em 0.5em;
}

nav a.active {
  font-weight: bold;
}

nav a:hover {
  color: #7fccff;
}

.contact-link {
  color: inherit;
  text-decoration: none;
  transition: text-decoration 0.2s, color 0.2s;
}

.contact-link:hover {
  text-decoration: underline;
}